In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({"a"  : [1, 2, 3, 4, 5],  "b" : [10, 20, 30, 40, 50]})

In [3]:
df

   a   b
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [7]:
print(df.__repr__())

   a   b
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [9]:
transport = ["walk", "cycle", "car", "bus", "train", "plane"]
weights = [5, 10, 20, 30, 40, 50]  # these are toy weights
heights = [5, 5, 10, 15, 15, 20]   # these are toy heights
eco_friendly = [True, True, False, True, True, False]

weights_df = pd.DataFrame({'transport': transport, 'weights': weights})
heights_df = pd.DataFrame({'transport': transport, 'heights': heights})

In [10]:
weights_df

  transport  weights
0      walk        5
1     cycle       10
2       car       20
3       bus       30
4     train       40
5     plane       50